.collection-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16vw, auto));
    gap: 1vw;
    margin-left: 2vw;
    margin-right: 2vw;
    justify-content: center;
    margin-top: 2vw;
}

.collection-cards a {
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
}

.collection-cards a .title {
    font-size: 0.8vw;
    text-align: center;
    color: black;
    margin-top: 0.5vw;
    margin-bottom: 2vw;
    line-height: 125%;
}

.collection-cards a img {
    margin-top: 0vw;
    width: 100%;
}

.collections-heading{
    text-align: center;
    font-size: 1vw;
    margin-left: 45vw;
    margin-right: 45vw;
    background-color: #4f3d74;
    color: white;
    padding: 0.1vw;
    margin-bottom: 2vw;
}

.space{
    padding-top: 7vw;
}
