.collection-cards {
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    gap: 1vw;
    margin-left: 2vw;
    margin-right: 2vw;
    justify-content: center;
    margin-top: 20px;
}

.collection-cards a {
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
}

.collection-cards a .title {
    font-size: 14px;
    text-align: center;
    color: black;
    margin-top: 0.5vw;
    margin-bottom: 2vw;
    line-height: 125%;
}

.collection-cards a img {
    margin-top: 0vw;
    width: 100%;
}

.collections-heading{
    width: 100%;
    display: flex;
    justify-content: center;
}

.collections-heading p{
    text-align: center;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #4f3d74;
    color: white;
}


.space{
    padding-top: 125px;
}
