.select {
    margin-right: 2vw;
    margin-left: 2vw;
}

.all {
    margin-top: 0.5vw;
    margin-right: 4vw;
    margin-left: 4vw;

    height: 2.5vw;
    width: 4vw;
    opacity: 0.75;
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    padding: 0px;
    font-size: 1.5vw;
    border: solid;
    border-color: rgba(84, 7, 249, 1);
    border-width: 0.15vw;
}

.all:hover {
    opacity: 1;
}

.all .box p {
    text-align: center;
    width: 100%;
    padding-top: 0vw;
    color: #757575;
    font-size: 100%;
}

.select-sections {
    justify-content: center;
    padding-top: 0.5vw;
    padding-bottom: 0vw;
    margin-left: 0vw;
    background-color: transparent;
    color: #444;
    z-index: 10;
    z-index: 0;
    display: flex;
    gap: 1.5vw;
}

.select-sections button {
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    padding: 0;
    font-size: 1vw;
    border: none;
    margin-bottom: 0.25vw;
}

.select-sections button:hover {
    opacity: 1;
    border-color: rgba(84, 7, 249, 1);
    font-weight: bold;
}

.select-sections .box p {
    text-align: right;
    color: black;
    font-size: 1vw;
}

.search-holder {

}

.search {
    border-width: 0;
    text-decoration: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    padding-left: 2px;
    text-align: left;
    margin-right: 20px;
}

.search-button {
    margin-top: 0.5vw;
    margin-right: 4vw;

    height: 2.5vw;
    width: 2.5vw;
    opacity: 0.75;
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    padding: 0px;
    font-size: 1.5vw;
    border: solid;
    border-color: rgba(84, 7, 249, 1);
    border-width: 0.15vw;
}

.search-button:hover {
    opacity: 1;
}

.search-button i {
    margin: 0.35vw;
    color: #757575;
}

.select-sections .active {
    opacity: 1;
}

.work-cards{
    margin-left: 0vw;
    margin-right: 0vw;
}

.shop-title{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    margin-bottom: 20px;
    column-gap: 25px;
}

.shop-title p{
    text-align: center;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #4f3d74;
    color: white;
    margin-top: 15px;
}

.shop-heading{
    z-index: 1;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    position: relative;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-top: 75px;
    background-color: white;
    box-shadow: 0px -2px 4px grey;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.shop-heading::-webkit-scrollbar {
  display: none;
}

.shop-heading button{
    text-align: center;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    margin-top: 0px;
    text-decoration: none;
    background: none;
    outline: none;
    border: none;
}

.shop-heading button:hover {
    font-weight: bold;
}

.shop-heading .active{
    color: black;
    font-weight: bold;
}

.space{
    padding-top: 2vw;
}