@font-face {
  font-family: nerd;
  src: url(../fonts/UbuntuNerdFont.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'nerd';
}
body {
    background-color: white; /*#f8f7fa;*/
    overflow-x: hidden;
}

p{
    font-size: 1vw;
    background-color: transparent;
    color: black;
    padding: 0.1vw;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 100vw;
    padding-bottom: 9px;
    box-shadow: 0px -2px 4px grey;
    background-color: white;
}

.header-option-button {
    outline: none;
    border: none;
    background-color: transparent;
    margin-left: 4vw;
    padding-top: 3px;
    height: 20px;
    width: 10vw;
}

.header-option-text:hover {
    color: #7c30f4;
}

.header-option-text {
    text-align: center;
    padding-top: 0vw;
    color: #757575;
    font-size: 14px;
}

.logo {
    padding-top: 10px;
    height: 30px;
}

.wrapper-sections-left {
    padding-left: 20px;
    padding-right: 40px;
    position: relative;
    justify-content: center;
    padding-top: 14px;
    padding-bottom: 0vw;
    display: grid;
    grid-gap: 20px;
    background-color: transparent;
    color: #444;
    grid-template-rows: repeat(1, 0.5vw);
    grid-template-columns: auto auto auto;
    z-index: 10;
}

.wrapper-sections-left a {
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    padding: 0px;
    font-size: 15px;
    border-radius: 0vw;
}

.wrapper-sections-left .box p:hover {

}

.wrapper-sections-left .box p:hover:before{
    opacity: 1;
    content: '[';
}

.wrapper-sections-left .box p:hover:after{
    opacity: 1;
    content: ']';
}

.wrapper-sections-left .box p {
    text-align: center;
    width: 100%;
    padding: 0.1vw;
    font-size: 15px;
}

.wrapper-sections-left .box p:before{
    content: ']';
    opacity: 0;
}

.wrapper-sections-left .box p:after{
    opacity: 0;
    content: ']';
}

.wrapper-sections-left .box .active{
    font-weight: bold;
}

.wrapper-sections-left .box .active:before{
    opacity: 1;
    content: '[';
}

.wrapper-sections-left .box .active:after{
    opacity: 1;
    content: ']';
}

.wrapper-sections-left .box img {
    text-align: center;
    width: 100%;
    padding-top: 0.25vw;
    color: #ffee9e;
    font-size: 100%;
}

.wrapper-sections-left .box i {
    text-align: center;
    padding-top: 0.5vw;
    padding-left: 1.15vw;
    color: rgba(84,7,249,1);
}

.wrapper-sections-left .box i:hover {
    color: white;
}

.wrapper-sections-left .active p {
    color: #968e67;
}

.wrapper-sections-right {
    padding-left: 40px;
    padding-right: 20px;
    position: relative;
    justify-content: center;
    padding-top: 14px;
    padding-bottom: 0vw;
    display: grid;
    grid-gap: 1vw;
    background-color: transparent;
    color: #444;
    grid-template-rows: repeat(1, 0.5vw);
    grid-template-columns: auto auto auto;
    z-index: 10;
}

.wrapper-sections-right a {
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    padding: 0px;
    font-size: 15px;
    border-radius: 0vw;
}

.wrapper-sections-right .box p:hover {
    
}

.wrapper-sections-right .box p:hover:before{
    opacity: 1;
    content: '[';
}

.wrapper-sections-right .box p:hover:after{
    opacity: 1;
    content: ']';
}

.wrapper-sections-right .box p {
    text-align: center;
    width: 100%;
    padding: 0.1vw;
    font-size: 15px;
}

.wrapper-sections-right .box p:before{
    content: ']';
    opacity: 0;
}

.wrapper-sections-right .box p:after{
    opacity: 0;
    content: ']';
}

.wrapper-sections-right .box .active{
    font-weight: bold;
}

.wrapper-sections-right .box .active:before{
    opacity: 1;
    content: '[';
}

.wrapper-sections-right .box .active:after{
    opacity: 1;
    content: ']';
}

.wrapper-sections-right .box img {
    text-align: center;
    width: 100%;
    padding-top: 0.25vw;
    color: #ffee9e;
    font-size: 100%;
}

.wrapper-sections-right .box i {
    text-align: center;
    padding-top: 0.5vw;
    padding-left: 1.15vw;
    color: rgba(84,7,249,1);
}

.wrapper-sections-right .box i:hover {
    color: white;
}

.wrapper-sections-right .active p {
    color: #968e67;
}

.new-collection{
    margin-right: 2vw;
    margin-left: 2vw;
    margin-top: 6vw;

}

.new-collection .new-collection-text{
    width: 100%;
    display: flex;
    justify-content: center;
}

.new-collection .new-collection-text p{
    text-align: center;
    font-size: 15px;
    margin-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #4f3d74;
    color: white;
}

.new-collection img{
    width: 20vw;
}


.work-cards {
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    column-gap: 4vw;
    row-gap: 7vh;
    margin-left: 2vw;
    margin-right: 2vw;
    justify-content: center;
    margin-top: 30px;
}

.work-cards a {
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
}

.work-cards a .title {
    font-size: 15px;
    text-align: center;
    color: black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.work-cards a .price {
    font-size: 15px;
    text-align: center;
    color: #757575;
    line-height: 0;
    margin-top: 12px;
    padding-top: 0;
    opacity: 1;
}

.work-cards a:hover .price{
    opacity: 1;
}

.work-cards a .color{
    font-size: 15px;
    text-align: center;
    color: #4f3d74;
    margin-top: 6.5px;
    padding-top: 0;
}

.work-cards a img {
    margin-top: 0vw;
    width: 100%;
}

.work-cards a .back{
    display: none;
}

.work-cards a .front{
    display: block;
}

.work-cards a:hover .front{
    display: none;
}

.work-cards a:hover .back{
    display: block;
}

.show-all{
    outline: none;
    border: none;
    font-size: 15px;
    padding: 0.25vw;
    background-color: transparent;
    color: black;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 20px;
    text-decoration: none;
}

.show-all:hover{
    font-weight: bold;
}

.stay-updated{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 6vw;
    margin-bottom: 40px;
}

.stay-updated p{
    text-align: center;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #4f3d74;
    color: white;
    margin-top: 40px;
}

.newsletter-text{
    text-align: center;
    font-size: 15px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    color: black;
    padding: 0.1vw;
}

.newsletter{
    margin-top: 30px;
    margin-bottom: 1vw;
    display: flex;
    justify-content: center;
}

.newsletter input{
    border-radius: 0;
    text-decoration: none;
    outline: none;
    border-width: 2px;
    background-color: transparent;
    font-size: 15px;
    padding-top: 0vw;
    padding-bottom: 0vw;
    padding-left: 5px;
    width: 400px;
}

.newsletter button{
    margin-left: 20px;
    border-radius: 0;
    text-decoration: none;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 15px;
    padding-top: 0;
    padding-bottom: 0;
}

.newsletter button:hover{
    font-weight: bold;
}

.premiere{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 6vw;
    margin-bottom: 40px;
}

.premiere p{
    text-align: center;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #4f3d74;
    color: white;
    margin-top: 40px;
}

.view-channel{
    outline: none;
    border: none;
    font-size: 15px;
    padding: 0.25vw;
    background-color: transparent;
    color: black;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 0vw;
    text-decoration: none;
    margin-bottom: 0;
}

.view-channel:hover{
    font-weight: bold;
}

.tickerContainer {
  position: block;
}

.ticker {
    padding-top: 5px;
    height: 20px;
    width: 100%;
    background-color: #4f3d74;
    color: white;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.ticker div {
    display: inline-block;
    width: 4000px;
    height: 20px;
    position: absolute;
    overflow: hidden;
    animation: ticker 15s linear infinite;
}

.ticker span {
    float: left;
    width: 12.5%;
    font-size: 15px;
}

@keyframes ticker {
    0% { left: 0; }
    100% { left: -2000px; }
}

.lookbook{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 6vw;
    margin-bottom: 40px;
}

.lookbook p{
    text-align: center;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #4f3d74;
    color: white;
    margin-top: 40px;
}

.fixed-footer {
    position: absolute;
    bottom: 0;
}

.loader-background {
    width: 100vw;
    height: 100vh;
    background-color: white;
    margin: 0;
    position: fixed;
    z-index: 20;
    transition: z-index 0.5s, opacity 0.5s;
}

#loader {
  position: absolute;
  left: 50%;
  top: 45%;
  z-index: 1;
  width: 6vh;
  height: 6vh;
  margin: -3vh 0 0 -3vh;
  border: 1vh solid #d2c3f1;
  border-radius: 50%;
  border-top: 1vh solid #584778;
  border-bottom: 1vh solid #584778;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  transition: z-index 0.5s, opacity 0.5s;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.sidebar {
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    transform: translate(-100vw);
    margin-top: 50px;
}

.sidebar .items{
    margin-top: 65px;
}

.sidebar .items a {
    text-decoration: none;
}

.sidebar .items a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    padding: 0px;
    text-align: center;
}

.sidebar .disabled {
    opacity: 0.5;
    pointer-events: none;
}

.sidebar .items p {
    text-align: left;
    width: 100%;
    color: black;
    font-size: 16px;
    margin-top: 15px;
    padding-left: 5vw;
    padding-top: 1vw;
    background-color: transparent;
    border-radius: 1vw;
    display: block;
}

.sidebar .items i {
    text-align: center;
    color: #FFA973;
    font-size: 5vw;
    margin-top: 2.5vw;
    margin-left: 2.5vw;
    text-decoration: none;
    background-color: #FFD8C9;
    padding: 1vw;
    border-radius: 1vw;
    width: 7.5vw;
}

.sidebar .items p:before{
    content: ']';
    opacity: 0;
}

.sidebar .items p:after{
    opacity: 0;
    content: ']';
}

.sidebar .items .active{
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.sidebar .items .active:before{
    opacity: 1;
    content: '[';
}

.sidebar .items .active:after{
    opacity: 1;
    content: ']';
}

.sidebar .exit-button {
    position: fixed;
    top: 2.5vw;
    right: 2.5vw;
    border: none;
    outline: none;
    background-color: #FFD8C9;
    padding: 1vh;
    width: 9vw;
    height: 9vw;
    z-index: 12;
}

.sidebar .exit-button i {
    margin-top: -0.75vh;
    font-size: 9vw;
    text-align: center;
    color: #FFA973;
}

.sidebar .fennec-pop {
    position: fixed;
    width: 50vw;
    transform: rotate(-90deg);
    right: 0;
    top: 15vh;
}

.sidebar .fennec-pop-2 {
    position: fixed;
    width: 50vw;
    transform: rotate(90deg);
    left: 0;
    top: 50vh;
}

.sidebar .martor-grey {
    position: fixed;
    width: 100%;
    bottom: 50px;
    margin-left: 0%;
}

.product-button {
    font-size: 15px;
    background: none;
    border: none;
    font-weight: normal;
    color: black;

    outline: none;
    -webkit-appearance: none;
}

.product-button:hover {
    font-weight: bold;
}

.product-button-ios {
    font-size: 15px;
    background: none;
    border: none;
    font-weight: normal;
    color: black;

    outline: none;
    -webkit-appearance: none;
}