<!DOCTYPE html>
<html>
<head>
	<title>Martor</title>
	<link rel="stylesheet" type="text/css" href="../style/style.css">
	<link rel="stylesheet" type="text/css" href="../style/contact.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.0/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/ScrollMagic.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/animation.gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/animation.velocity.min.js"></script>

    <link rel="icon" type="image/x-icon" href="images/logo-6-instagram.png">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet">

	<script src="https://kit.fontawesome.com/497ef235da.js" crossorigin="anonymous"></script>
</head>
<body>
	<!--TICKER-->
	<div style="position: fixed">
		<div class="tickerContainer">  
		  <div class="ticker">
		    <div>
		      <span style="font-size: 0.75vw;">WORLD WIDE SHIPPING</span>
		      <span style="font-size: 0.75vw;">FALL TO RISE OUT NOW</span>
		      <span style="font-size: 0.75vw;">© MARTOR CLOTHING</span>
		      <span style="font-size: 0.75vw;">FREE SHIPPING OVER 100€</span>
		      <span style="font-size: 0.75vw;">WORLD WIDE SHIPPING</span>
		      <span style="font-size: 0.75vw;">FALL TO RISE OUT NOW</span>
		      <span style="font-size: 0.75vw;">© MARTOR CLOTHING</span>
		      <span style="font-size: 0.75vw;">FREE SHIPPING OVER 100€</span>
		    </div>
		  </div>
		</div>

		<!--HEADER-->
		<div class="header">
			<div class="wrapper-sections-left" id="header_elements">
				<a href="../index.html">
					<div class="box">
					  	<p class="box-title">home</p>
					</div>
				</a>
				<a href="shop.html">
					<div class="box">
					  	<p class="box-title">shop</p>
					</div>
				</a>
				<a href="collections.html">
					<div class="box">
					  	<p class="box-title">collections</p>
					</div>
				</a>
			</div>

			<a href="index.html">
				<img src="../images/logo-6-remastered-2.png" style="padding-top: 0.5vw; height: 1.5vw;">
			</a>

			<div class="wrapper-sections-right" id="header_elements">
				<a href="about.html">
					<div class="box">
					  	<p class="box-title">about</p>
					</div>
				</a>
				<a href="">
					<div class="box">
					  	<p class="active">contact</p>
					</div>
				</a>
				<a href="cart.html">
					<div class="box">
					  	<p class="box-title">cart(0)</p>
					</div>
				</a>
			</div>
		</div>
	</div>
	</div>

	<div class="space"></div>
	<p class="contact-heading">get in touch</p>
	<div class="contact-form">
		<input type="text" placeholder="name" name=""><br>
		<input type="text" placeholder="email" name=""><br>
		<input type="text" placeholder="phone" name=""><br>
		<textarea rows="4" placeholder="message"></textarea><br>
		<p class="newsletter-text">send us any message to get in contact with us and we will do our best to respond as promtply as possible.</p>
		<button style="margin-top: 1vw;">[send]</button>
	</div>

	<div class="fixed-footer" style="display: flex; justify-content: space-between; padding-bottom: 0.1vw; margin-top: 8vw; background-color: #4f3d74; width: 95vw; padding-left: 2.5vw; padding-right: 2.5vw;">
		<a href="" style="font-size: 0.75vw; margin-top: 0.1vh; text-align: center; color: white; text-decoration: none;">team</a>
		<a href="" style="font-size: 0.75vw; margin-top: 0.1vh; text-align: center; color: white; text-decoration: none;">info</a>
		<a href="" style="font-size: 0.75vw; margin-top: 0.1vh; text-align: center; color: white; text-decoration: none;">faqs</a>
		<a href="" style="font-size: 0.75vw; margin-top: 0.1vh; text-align: center; color: white; text-decoration: none;">return & exchanges</a>
		<a href="" style="font-size: 0.75vw; margin-top: 0.1vh; text-align: center; color: white; text-decoration: none;">privacy policy</a>
		<a href="" style="font-size: 0.75vw; margin-top: 0.1vh; text-align: center; color: white; text-decoration: none;">shipping policy</a>
		<a href="" style="font-size: 0.75vw; margin-top: 0.1vh; text-align: center; color: white; text-decoration: none;">terms & conditions</a>
	</div>

	<!--SCRIPTS-->
	<script src="../scripts/work.js"></script>
</body>
</html>